body{
    background: #000000;
    width:100%;
    height:100%;
  }
  .loader-wrapper{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      
  }
  #center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
    
  @-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 1411.9447021484375px;
      stroke-dasharray: 1411.9447021484375px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1411.9447021484375px;
    }
  }
  
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 1411.9447021484375px;
      stroke-dasharray: 1411.9447021484375px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1411.9447021484375px;
    }
  }
  
  .svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s both;
            animation: animate-svg-stroke-1 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 514.4793090820312px;
      stroke-dasharray: 514.4793090820312px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 514.4793090820312px;
    }
  }
  
  @keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 514.4793090820312px;
      stroke-dasharray: 514.4793090820312px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 514.4793090820312px;
    }
  }
  
  .svg-elem-2 {
    -webkit-animation: animate-svg-stroke-2 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.5s both;
            animation: animate-svg-stroke-2 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.5s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 414.4322204589844px;
      stroke-dasharray: 414.4322204589844px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 414.4322204589844px;
    }
  }
  
  @keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 414.4322204589844px;
      stroke-dasharray: 414.4322204589844px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 414.4322204589844px;
    }
  }
  
  .svg-elem-3 {
    -webkit-animation: animate-svg-stroke-3 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s both;
            animation: animate-svg-stroke-3 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s both;
  }
  